# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/backend/node_modules

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend.DS_Store
/frontend.env.local
/frontend.env.development.local
/frontend.env.test.local
/frontend.env.production.local
/backend/.env.local

/frontendnpm-debug.log*
/frontendyarn-debug.log*
/frontendyarn-error.log*


# this is for admin pannel
# dependencies
/adminpannel/node_modules
/adminpannel/.pnp
/adminpannel.pnp.js

# testing
/adminpannel/coverage

# production
/adminpannel/build

# misc
/adminpannel.DS_Store
/adminpannel.env.local
/adminpannel.env.development.local
/adminpannel.env.test.local
/adminpannel.env.production.local

/adminpannel npm-debug.log*
/adminpannel yarn-debug.log*
/adminpannel yarn-error.log*
