.login-form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* gap: 3rem; */
    
    padding:3rem 3rem ;
}
.login-phone{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.login-phone label{
    position: absolute;
    top: 0%;
    left: 02rem;
    transform: translate(0%,-50%);
    font-size:1.5rem ;
    transition: .2s ease-in;
    color: gray;
}

.loginform input{
    width: 100%;
    font: 1.5rem ;
    padding:2rem 2rem 2rem 2rem ;
    border-bottom: .2rem solid #b6500a;
    /* border-radius: 1rem; */
    background: transparent;
}
.login-password{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
}
.login-password label{
    position: absolute;
    top: 50%;
    left: 02rem;
    transform: translate(0%,-50%);
    font-size:1.5rem ;
    transition: .2s ease-in;
    color: gray;
}

.fa-eye,.fa-eye-slash{
    position: absolute;
    top: 50%;right: 2%;
    font-size: 1.5rem;
    transform: translate(-50%,-50%);
    color: #b6500a;
}


.login-form button{
    padding: 1.5rem 5rem;
    border: .1rem solid #b6500a;
    border-radius: 1rem;
    font-size:1.5rem;
    color: #b6500a;
    font-weight: 500;
    transition: .2s ease-in;
}

.login-form button:hover{
    color: white;
    background-color: #b6500a;
}
