.cart-card{
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 251, 255);
    padding: 0rem 3rem 0rem 0rem;
    border-radius: 1rem;
    position: relative;
    /* gap: 3rem; */
}
.cart-card-img{
    height: 100%;
    border-radius: 1rem 0rem 0rem 1rem;
}
.product-name{
    width: 12rem;
}
.incdecbtn{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.incdecbtn button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 3.5rem ;
    height: 3rem;
    background-color: black;
    color: white;
    border-radius:1rem 0rem 0rem 1rem ;
    border: none;
    box-sizing: border-box;
}
.incdecbtn span{
    width: 3rem ;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    /* padding: 1rem 1rem; */
    /* font-size: 1.5rem; */
    
    background-color: black;
    color: white;
}
.singleprice{
    width: 10rem;
}
.incdecbtn :nth-child(3){
    border-radius:0rem 1rem 1rem 0rem ;


}
.singleprice .offerprice{
    font-size: 1.5rem;
    font-weight: 600;
}
.singleprice .mrp{
    font-size: 1.2rem;
    font-weight: 400;
}
.singleprice .single-offer{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem 0rem 0rem 0rem;
    font-size: 1rem;
}
.incdecbtn :nth-child(1):hover{
    background-color: rgb(46, 46, 46);
}
.incdecbtn :nth-child(3):hover{
    background-color: rgb(46, 46, 46);
}

.delete{
    font-size: 2rem;
    color: rgb(61, 61, 61);
    transition: .3s ease;
}
.delete:hover{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    transform: scale(1.2);
}

@media(max-width:1024px){
    html{
      font-size: 57.5%;
  }
  }
  @media(max-width:768px){
    .cart-card{
        justify-content: space-between;
    }
  }
  @media(max-width:425px){
    html{
      font-size: 45.5%;
  }
  }
  @media(max-width:375px){
    html{
      font-size: 42.5%;
  }
  }