* {  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
  background: white;
  background-color: white;


}

html::-webkit-scrollbar {
  width: .5rem;

}

html::-webkit-scrollbar-track {
  background: transparent;

}

html::-webkit-scrollbar-thumb {
  background: #292929;
  border-radius: 1rem;

}
i{
  cursor: pointer;
}
button{
  cursor: pointer;
}
input{
  text-transform: none;
}

@media(max-width:1024px){
  html{
    font-size: 57.5%;
}
}
@media(max-width:768px){
  html{
    font-size: 53.5%;
}
}
@media(max-width:425px){
  html{
    font-size: 45.5%;
}
}
@media(max-width:375px){
  html{
    font-size: 42.5%;
}
}