.productsection{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}
.productcontext{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0% ;
    font-size: 2rem;
}
.product-right-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}
.productbox{
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    padding: 0rem 5%;
    gap: 2rem;
}
.sortbtn{
    width: 20rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
}
.the-btn{
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-size: 1.5rem;
    border: .1rem solid gray;
    border-radius:1rem ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    
}

.dropdown{
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    z-index: 1000;
    background: white;
    padding: 2rem 2rem;
    border-radius: 1rem;
    border: .1rem solid gray;
}
.dropdown button{
    background-color: transparent;
    padding: 1rem 0rem;
}
.navigation-link{
    color: gray;
    font-weight: 500;
    transition: .2s ease-in;
}
.navigation-link:hover{
    color: black;
}

@media (max-width:768px){
    .product-left-section{
        display: none;
    }
    .product-right-section{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .productbox{
      
        gap: 2rem;
    }
}
@media(max-width:430px){
    .productbox{
        gap: 1rem;   
    }
  }
  @media(max-width:360px){
    .productbox{
        gap: 2rem;   
    }
  }