.emailcontainer{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 14rem 0rem;
}
.emailbox{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 7rem 4rem;
    border-radius: 1rem;
background: #fdf9ed;
box-shadow: inset 39px 39px 91px #fdf9ed,
            inset -39px -39px 91px #fdf9ed;
    gap: 3rem;
}
.emailboxtext{
    width: 100%;
    text-align: left;
    font-size: 2rem;
    color: black;
    padding: 0rem 5%;
}
.emailform{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.emailform input{
    position: relative;
    width: 70%;
    padding: 2rem;
    font-size: 1.3rem;
    border-radius: 1rem 0rem 0rem 1rem ;
    text-transform: none;
    /* background-color: transparent; */
}
.emailform button{
    width: 20%;
padding: 1.7rem;
font-size: 2rem;
/* background-color: #7720c3; */
border-radius: 0rem 1rem 1rem 0rem ;
color: white;
background: black;

}

.emaillabel{
    position: absolute;
    top: 25%;
    left: 7%;
    color: gray;
    transition: .2s ease-in;
    font-size: 2rem;

}
